{{#section 'sidebar'}}
<div class="thumbnail">
    <a>
        <img style="width:50%" src="/themes/images/Canon_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Nikon_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Olympus_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Fujifilm_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Sony_logo.jpg">
    </a>
</div>
{{/section}}

<div>
    <img style="width: 100%" src="/themes/images/Untitled-1.png" />
    <div class="row" style="text-align: center;margin-top: 50px">
        <a role="button" style="padding-right:0; text-decoration: none" href="/manager/home">
            <img src="/themes/images/img-manager.png" onmouseover="this.src='/themes/images/img-manager-fade.png'" onmouseout="this.src='/themes/images/img-manager.png'">
        </a>
        <a role="button" style="margin-left: 20%" href="/user/home">
            <img src="/themes/images/img-customer.png" onmouseover="this.src='/themes/images/img-customer-fade.png'" onmouseout="this.src='/themes/images/img-customer.png'">
        </a>
    </div>
</div>