{{#section 'welcome'}}
<strong> {{managerName}}</strong>
{{/section}} {{#section 'menu'}}
<ul id="topMenu" class="nav pull-right">
    <li class="">
        <a role="button" style="padding-right:0" id="lnkLogout" href="javascript:;">
            <span class="btn btn-large btn-success">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log out</span>
        </a>
    </li>
</ul>
<ul id="topMenu" class="nav pull-right">
    <li class="">
        <a role="button" style="padding-right:0" href="/manager/home">
            <span class="btn btn-large btn-primary">
                <i class="fa fa-home" aria-hidden="true"></i> Dashboard</span>
        </a>
    </li>
</ul>

{{/section}} {{#section 'sidebar'}}
<ul id="sideMenu" class="nav nav-tabs nav-stacked">
    <li class="subMenu open" id="menu">
        <a> Product Management</a>
        <ul>
            <li>
                <a class="active" href="/manager/update_product">
                    <i class="icon-chevron-right"></i>Update Product</a>
                <a class="active" href="/manager/add_product">
                    <i class="icon-chevron-right"></i>Add Product</a>
                <a class="active" href="/manager/add_brand_type">
                    <i class="icon-chevron-right"></i>Add Brand &#38 Type</a>
                <a class="active" href="/manager/delete_brand">
                    <i class="icon-chevron-right"></i>Delete brand</a>
                <a class="active" href="/manager/delete_type">
                    <i class="icon-chevron-right"></i>Delete type</a>
            </li>
        </ul>
    </li>
</ul>
<br/>
<div class="thumbnail">
    <a>
        <img style="width:50%" src="/themes/images/Canon_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Nikon_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Olympus_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Fujifilm_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Sony_logo.jpg">
    </a>
</div>
{{/section}}
<form id="frmLogout" method="post" action="/manager/logout"></form>
<ul class="breadcrumb">
    <li style="font-size: x-large">
        <img style="width: 20px" src="/themes/images/icons8-bag-brand-24.png">
        <b> Add Brand</b>
    </li>
</ul>

<div class="well">
    {{#if successResultB}}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Success!</strong> Add brand successfully.
    </div>
    {{else}}
    <form class="form-horizontal" action="/manager/add_brand" method="post">
        <h4>Brand information</h4>
        <div class="control-group">
            <label class="control-label">Name
            </label>
            <div class="controls">
                <input type="text" name="Ten_hang" placeholder="Name of brand" required>
            </div>
        </div>
        <div class="control-group">
            <input type="submit" class="btn btn-large btn-danger" value="Add">
            </button>

        </div>
    </form>
    {{/if}}
</div>

<hr class="soft" />


<ul class="breadcrumb">
    <li style="font-size: x-large">
        <img style="width: 20px" src="/themes/images/icons8-type-24.png">
        <b> Add Type</b>
    </li>
</ul>

<div class="well">
    {{#if successResultT}}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Success!</strong> Add type successfully.
    </div>
    {{else}}
    <form class="form-horizontal" action="/manager/add_type" method="post">
        <h4>Type information</h4>
        <div class="control-group">
            <label class="control-label">Name
            </label>
            <div class="controls">
                <input type="text" name="Ten_loai" placeholder="Name of type" required>
            </div>
        </div>
        <div class="control-group">
            <input type="submit" class="btn btn-large btn-danger" value="Add">
            </button>

        </div>
    </form>
    {{/if}}
</div>
<script type="text/javascript" src="/themes/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $('#lnkLogout').on('click', function () {
        $('#frmLogout').submit();
    });
</script>