{{#section 'welcome'}}
<strong> {{managerName}}</strong> 
{{/section}} {{#section 'menu'}}
<ul id="topMenu" class="nav pull-right">
    <li class="">
        <a role="button" style="padding-right:0" id="lnkLogout" href="javascript:;">
            <span class="btn btn-large btn-success">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log out</span>
        </a>
    </li>
</ul>
<ul id="topMenu" class="nav pull-right">
    <li class="">
        <a role="button" style="padding-right:0" href="/manager/home">
            <span class="btn btn-large btn-primary">
                <i class="fa fa-home" aria-hidden="true"></i> Dashboard</span>
        </a>
    </li>
</ul>

{{/section}} {{#section 'sidebar'}}
<ul id="sideMenu" class="nav nav-tabs nav-stacked">
    <li class="subMenu open" id="menu">
        <a> Product Management</a>
        <ul>
            <li>
                <a class="active" href="/manager/update_product">
                    <i class="icon-chevron-right"></i>Update Product</a>
                <a class="active" href="/manager/add_product">
                    <i class="icon-chevron-right"></i>Add Product</a>
            </li>
        </ul>
    </li>
</ul>
<br/>
<div class="thumbnail">
    <a>
        <img style="width:50%" src="/themes/images/Canon_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Nikon_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Olympus_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Fujifilm_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Sony_logo.jpg">
    </a>
</div>
{{/section}}
<form id="frmLogout" method="post" action="/manager/logout"></form>
<ul class="breadcrumb">
    <li style="font-size: x-large">
        <i class="fa fa-plus fa-x"></i>
        <b> Add Product</b>
    </li>
</ul>

<div class="well">
    {{#if successResult}}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Success!</strong> Add product successfully.
    </div>
    {{else}}
    <form class="form-horizontal" action="/manager/add_product" method="post" enctype="multipart/form-data">
        <h4>Product information</h4>
        <div class="control-group">
            <label class="control-label">Name
            </label>
            <div class="controls">
                <input type="text" name="Ten" placeholder="Name" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Price
            </label>
            <div class="controls">
                <input type="number" name="Don_gia_ban" min="0" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Brand
            </label>
            <div class="controls">
                <select class="span2" name="Hang" required>
                    <option value="">-</option>
                    <option value="Canon">Canon</option>
                    <option value="Nikon">Nikon</option>
                    <option value="Sony">Sony</option>
                    <option value="Fujifilm">Fujifilm</option>
                    <option value="Olympus">Olympus</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Type
            </label>
            <div class="controls">
                <select class="span2" name="Loai" required>
                    <option value="">-</option>
                    <option value="Travel">Travel</option>
                    <option value="DSLR">DSLR</option>
                    <option value="Mirrorless">Mirrorless</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea id="description" cols="26" rows="5" name="Mo_ta" required></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Image
            </label>
            <div class="controls">
                <input type="file" name="Hinh_anh" required>
            </div>
        </div>
        <div class="control-group">
            <input type="submit" class="btn btn-large btn-danger" value="Add">
            </button>

        </div>
    </form>
    {{/if}}
</div>
<script type="text/javascript" src="/themes/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $('#lnkLogout').on('click', function () {
        $('#frmLogout').submit();
    });
</script>