{{#section 'welcome'}}
<strong> {{managerName}}</strong>
{{/section}} {{#section 'menu'}}
<ul id="topMenu" class="nav pull-right">
    <li class="">
        <a role="button" style="padding-right:0" id="lnkLogout" href="javascript:;">
            <span class="btn btn-large btn-success">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log out</span>
        </a>
    </li>
</ul>
<ul id="topMenu" class="nav pull-right">
    <li class="">
        <a role="button" style="padding-right:0" href="/manager/home">
            <span class="btn btn-large btn-primary">
                <i class="fa fa-home" aria-hidden="true"></i> Dashboard</span>
        </a>
    </li>
</ul>

{{/section}} {{#section 'sidebar'}}
<ul id="sideMenu" class="nav nav-tabs nav-stacked">
    <li class="subMenu open" id="menu">
        <a> Product Management</a>
        <ul>
            <li>
                <a class="active" href="/manager/update_product">
                    <i class="icon-chevron-right"></i>Update Product</a>
                <a class="active" href="/manager/add_product">
                    <i class="icon-chevron-right"></i>Add Product</a>
                <a class="active" href="/manager/add_brand_type">
                    <i class="icon-chevron-right"></i>Add Brand &#38 Type</a>
                <a class="active" href="/manager/delete_brand">
                    <i class="icon-chevron-right"></i>Delete brand</a>
                <a class="active" href="/manager/delete_type">
                    <i class="icon-chevron-right"></i>Delete type</a>
            </li>
        </ul>
    </li>
</ul>
<br/>
<div class="thumbnail">
    <a>
        <img style="width:50%" src="/themes/images/Canon_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Nikon_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Olympus_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Fujifilm_logo.jpg">
    </a>
    <a>
        <img style="width:50%" src="/themes/images/Sony_logo.jpg">
    </a>
</div>
{{/section}}
<form id="frmLogout" method="post" action="/manager/logout"></form>
<form id="frmRemoveBrand" method="post" action="/manager/removeBrand">
    <input id="txtProId_R" type="hidden" name="Ma_hang">
</form>
<ul class="breadcrumb">
    <li style="font-size: x-large">
        <b> Delete Brand</b>
    </li>
</ul>
<hr class="soft" />

<h2 style="text-align: center">Brand List</h2>

<div class="table-responsive" style="margin-top:30px">
    <table class="table table-condensed table-bordered table-secondary table-hover table-striped">
        <thead style="background-color: rgba(19, 14, 14, 0.822);color: beige">
            <tr class="text-primary">
                <th>Brand Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each brand}}
            <tr>
                <th>{{Ten_hang}}</th>
                <th>
                    <a type="button" class="btn btn-danger removeBrand" data-proid="{{Ma_hang}}" href="javascript:;">
                        <span class="fa fa-remove"></span>
                    </a>
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<script>
    function Showconfirm(Ma_hang) {
        if (confirm("Do you really want to delete this brand ?")) {
            window.location.href = "/manager/delete_brand?id=" + Ma_hang ;
        }
    }
</script>
<script type="text/javascript" src="/themes/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $('#lnkLogout').on('click', function () {
        $('#frmLogout').submit();
    });

    $('.removeBrand').on('click', function () {
        if (confirm("Do you really want to delete this brand ?")) {
            var id = $(this).data('proid');
            $('#txtProId_R').val(id);
            $('#frmRemoveBrand').submit();
        }
    });
</script>